.copyright{
    color: #3F5D66;
    text-align: center;
    padding: 1%;
}
.scrollUpBtn{
    position: absolute;
    left: 48%;
    color: #fff;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    padding: 1%;
    margin: auto;
    cursor: pointer;
    background-color: #E5496E;
}
.scrollUpBtn:hover{
    opacity: 0.8;
    transition: 0.3s;
}
.footerWrapper{
    margin-top: 10%;
    height: fit-content;
    background-color: "#1B252E";
}
.footerLogos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4%;
}
.footerLogos > div{
    background-color: #272F39;
    color: white;
    padding: 1%;
    font-size: 25px;
    margin: 1%;
}
.footerLogos > div:hover{
    background-color: #33C2C8;
    transition: 0.3s;
}